body {
    font: 13.3333px Arial;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
}
h1 {
	margin: 0 auto;
}
#sampler-container {
	position: relative;
	height: 100%;
	width: 100%;
}
#top-box {
	position: absolute;
	left: 0;
	top: 0;
	height: 10%;
	text-align: center;
}
#display-wrapper {
	position: absolute;
	left: 0;
	top: 0%;
	height: 20%;
	width: 100%;
	background: transparent;
	overflow: hidden;
/*	background: white;
	color: #f6a828;*/
}
#canvas-wrapper {
    height: 100%;
    width:100%;
}
#welcome-screen {
	height: 100%;
	width: 100%;
	text-align: center;
}
#loading-screen {
	height: 100%;
	width: 100%;
}


#slider-range {
	position: absolute;
	top: 20%;
	left: 0;
	height: 5%;
    width: 100%;
    margin: 0 auto;
}
#range-label {
	position: absolute;
	top: 25%;
	left: 0;
	height: 5%;
    width: 100%;
    margin: 0 auto;
}
#range-label p {
	position: absolute;
	margin: 0 auto;
	text-align: center;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f6a828;
}
#slider-volume {
    position: absolute;
    top: 30%;
    left: 0%;
    width: 46%;
    margin: 0 auto;
    height: 5%;
}
#volume-label {
	position: absolute;
	top: 35%;
	left: 0;
	height: 5%;
    width: 48%;
    margin: 0 auto;
}
#volume-label p {
	position: absolute;
	margin: 0 auto;
	text-align: center;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f6a828;
}
#slider-volume > .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 123%;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
}
#slider-pitch {
	position: absolute;
	top: 30%;
	left: 54%;
	height: 5%;
    width: 46%;
    margin: 0 auto;
}
#pitch-label {
	position: absolute;
	top: 35%;
	left: 52%;
	height: 5%;
    width: 50%;
    margin: 0 auto;
}
#pitch-label p {
	position: absolute;
	margin: 0 auto;
	text-align: center;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f6a828;
}
#sampler-transport {
	position: absolute;
	top: 40%;
	height: 10%;
	width: 100%;

}
#sampler-options {
	position: absolute;
	top: 50%;
	height: 10%;
	width: 100%;
	
}
#sampler-effects {
	position: absolute;
	top: 60%;
	height: 40%;
	width: 25%;
}
#sampler-delay-box {
    position: absolute;
    top: 60%;
    left: 25%;
    height: 40%;
    width: 75%;
}
#delay {
	    position: absolute;
    width: 100%;
    height: 33%;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}
#delaybtn {
	width: calc(100% - 4px);
    margin: 2px;
    height: 25%;
}
#delay-tags {

	width: 100%;
	height: 26%;
}
#delay-tags div {
	display: inline-block;
	position: relative;
	width: calc(20% - 4px);
	height: 100%;
	margin: 0 auto;
	text-align: center;

}
#delay-tags div span {
	position: absolute;
	top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    color: #f6a828;

}
/* vertical sliders */
#eq {
	position: absolute;
	height: 75%;
	width: 100%;
}
#eq > span {
    height: 100%;
    float: left;
    width: calc(20% - 2px);
    margin: 0;

}
.ui-slider-pip-label {
    bottom: 20% !important;
}
#eq .ui-slider-label {
    /* Safari */
    
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    
    -moz-transform: rotate(-90deg);
    /* IE */
    
    -ms-transform: rotate(-90deg);
    /* Opera */
    
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/*volume*/

.ui-slider-pips .ui-slider-label {
    position: absolute;
    top: 8px;
    left: 100%;
    margin-left: -1em;
    width: 2em;
}
.ui-slider-vertical.ui-slider-pips .ui-slider-pip {
    text-align: left;
    top: auto;
    left: 20px;
    margin-left: 0;
    margin-bottom: -0.5em;
        z-index: 2;
}
.ui-slider-vertical .ui-slider-handle {
    width: 120%;
    left: -10%;
    margin-left: 0;
    margin-bottom: -.6em;
}
/* record button */

#record {
    border: 1px solid #FF4C4C;
    /* background: #FF4C4C; */
    color: #FF4C4C;
}
@keyframes blink { 
   50% { border-color: #ff0000; }
   50% { color: red;}
}
#recording { 
    border: 1px solid #D0D0D0; 
    animation-name: blink ;
    animation-duration: .5s ;
    animation-timing-function: step-end ;
    animation-iteration-count: infinite ;
    animation-direction: alternate ;
}
/* toggle btn */

.ck-button {
    position: relative;
    margin: none;
    background-color: #EFEFEF;
    border-radius: 4px;
    /* border: 1px solid #D0D0D0; */
    border: none;
    overflow: none;
    float: left;
    padding: 7px;
    width: calc(25% - 4px);
    margin: 2px;
    height: 94%;

}
.ck-button label {
    float: left;
    width: 100%;
    height: 100%;
}
.ck-button label span {
        text-align: center;
    /* display: block; */
    position: absolute;
    /* height: 100%; */
    top: 50%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
}
.ck-button label input {
    position: absolute;
    top: -20px;
}
.ck-button input:checked + .btnstyle {
    background-color: #911;
    color: #fff;
}
.btnstyle {
    padding: 0;
}
.loadlabel {
    padding: 0;

 }
#load-text {
	 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


label {

    font-weight: normal;
}
/* load button */
label input[type="file"] {
    position: fixed;
    top: -1000px;
}
input[type="checkbox"] {
    display: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {

    display: none;
}
button:focus {
	outline:0;

}